[run]
source = app
omit = 
    */tests/*
    */__pycache__/*
    */__init__.py
    app/core/logging.py
    app/main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod




